@font-face {
    font-family: 'bitMatrix-A2';
    src:local("RST-A2"), url("@/assets/fonts/publix/RST-A2.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'bitMatrix-A2';
    font-weight: 700;
    src:  local("RST-A2-bold"),url("@/assets/fonts/publix/RST-A2-bold.ttf");
}